.App {
  padding: 1em;
  background-color: rgb(32,34,37);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul{
  margin: 2.5em 0;
}

.AtomsCheatSheet .description{
  font-style: italic;
}

.AtomsCheatSheet li span{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5em;
}

.AtomsCheatSheet li{
  height: 100%;
  display: flex;
  margin-bottom: 1.5em;
}

#iconList{
  display: flex;
  flex-wrap: wrap;
  
}

.circleWrap{
  border-radius: 50%;
}

.squareWrap{
  border-radius: 25%;
}

#iconList li{
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  margin-bottom: 5em;
}

#iconList li svg{
  margin: 0 auto;
}

.avatar-atoms, .ServerControl{
  
  width: 3em;
  height: 3em;
}

.ServerControl{
  background-color: rgb(54,57,63);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(67,181,129);
}

.row{
  display: flex;
  justify-content: space-around;
}